<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapping映射规范
   1、mapper节点的namespace书写
   2、resultMape作用
   3、sql指令，它的参数包括id、parametermap/type、resultMap/type
-->
<mapper namespace="com.qf.mapper.ApplyMoneyMapper">
    <!--获取申请贷款列表的最大id值-->
    <select id="getMaxId" resultType="int">
        select
         max(id)
         from
         applymoney
    </select>

    <!--根据登录用户名查询对应的贷款信息-->
    <select id="loadByLoginName" parameterType="string" resultType="com.qf.pojo.ApplyMoney">
        select
         *
         from
          applymoney
           where
           loginName=#{loginName}
    </select>

    <!--加载所有的贷款信息给后台审核平台-->
    <select id="loadAllApplyMoney" resultType="com.qf.pojo.ApplyMoney">
        select
         *
         from
         applymoney
    </select>

    <!--获取列表中数据的总行数，用于计算最大页数-->
    <select id="getCount" resultType="int">
        select
         count(id)
          from
           applymoney
    </select>

    <!--将新的贷款信息加入到数据库中-->
    <insert id="addNewApply" parameterType="com.qf.pojo.ApplyMoney">
        insert
         into
         applymoney
          values
           (#{id},#{loginName},#{moneyx},#{times},#{zfbNumber},#{dbFunction},#{jkyt},#{jkms},#{state})
    </insert>

    <!--根据贷款信息id和贷款人的登录名删除对应的贷款信息-->
    <delete id="delApplByapplUser" parameterType="com.qf.pojo.ApplyMoney">
        delete
         from
         applymoney
          where
          id=#{id}
           and
           loginName=#{loginName}
    </delete>
</mapper>
